* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line: #323238;
  --selected: #02799d;
  --unselected: #e1e1e6;
  --background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
}

body {
  height: 100dvh;
  background: var(--background);

  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  gap: 12rem;
}

.block-timer {
  font-weight: 500;
  font-size: 7.8854rem;
  line-height: 9.25rem;

  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;

  box-shadow: 0 0 2px var(--line);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--line);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.label {
  font-size: 18px;
  text-align: center;
}

.slider {
  width: 60px;
  height: 34px;
}

.timer {
  display: flex;
  align-items: center;
}

.timer-buttons {
  margin: -3.225rem;
  padding: 0;
}

.timer-buttons button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 3rem;

  cursor: pointer;
}

.music-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.music-buttons button {
  width: 138px;
  height: 152px;

  border-radius: 24px;
  border: transparent;

  cursor: pointer;
}

.wood-sound {
  background: var(--unselected);
}

.rain-sound {
  background: var(--unselected);
}

.town-sound {
  background: var(--unselected);
}

.fire-sound {
  background: var(--unselected);
}

.selected-music {
  background: var(--selected);
}

#default-button {
  display: initial;
}

#selected-button {
  display: none;
}

@media only screen and (max-width: 950px) {
  main {
    flex-direction: column;
    gap: 5rem;
  }
}
